In [10]:
import pandas as pd
import matplotlib.pyplot as plt
from jupyterthemes import jtplot
import os
import numpy as np
jtplot.style(theme='onedork')

In [22]:
citydata = os.path.join("Resources", "city_data.csv")
ridedata = os.path.join("Resources", "ride_data.csv")
citydatadf = pd.read_csv(citydata, encoding="ISO-8859-1")
ridedatadf = pd.read_csv(ridedata, encoding="ISO-8859-1")
#ridedatadf.head()
#citydatadf.head(25)
testdf = citydatadf.loc[citydatadf["city"] == "Sarabury",:]
testdf

        city  driver_count   type
19  Sarabury            46  Urban

In [63]:
ridedatadf['driver_count'] = citydatadf['driver_count']
ridedatadf['type'] = citydatadf['type']
df = ridedatadf
df['city'] = df['city'].astype(str)
#df.head()
df.dtypes

city             object
date             object
fare            float64
ride_id           int64
driver_count    float64
type             object
dtype: object

In [ ]:
#Need three different plt.scatter: each with different color. selected by type
#Requires three lists/dataframes separated by type
#Average fare requires list of fares for each city to calculate average fare
#Get Type from citydatadf
#Get average fare by creating dataframe for each city?
#How to iterate through cities in the dataframe?

In [71]:
cdf = pd.DataFrame(columns=["city","driver_count", "number_of_rides", "average_fare", "type"])

for city in df['city']:
    citydf = df.loc[df['city'] == city, :]
    #city = "Sarabury"
    number_of_rides = len(citydf['fare'])
    average_fare = citydf['fare'].sum()/number_of_rides
    driver_count = citydatadf.loc[citydatadf['city'] == city, 'driver_count']
    citytype = citydatadf.loc[citydatadf['city'] == city, 'type']
    citydict = {
        "city": city,
        "number_of_rides": number_of_rides,
        "average_fare": average_fare,
        "driver_count": driver_count,
        "type": citytype
    }
    row_frame = pd.DataFrame(citydict)
    organized_row_frame = row_frame[["city","driver_count", "number_of_rides", "average_fare", "type"]]
    cdf = cdf.append(organized_row_frame)
cdf = cdf.drop_duplicates(subset='city')
cdf.head()

           city driver_count number_of_rides  average_fare   type
19     Sarabury           46              27     23.490000  Urban
44    South Roy           35              22     26.031364  Urban
32  Wiseborough           55              19     22.676842  Urban
36  Spencertown           68              26     23.681154  Urban
1    Nguyenbury            8              26     25.899615  Urban

In [72]:
cdf

                     city driver_count number_of_rides  average_fare      type
19               Sarabury           46              27     23.490000     Urban
44              South Roy           35              22     26.031364     Urban
32            Wiseborough           55              19     22.676842     Urban
36            Spencertown           68              26     23.681154     Urban
1              Nguyenbury            8              26     25.899615     Urban
30            New Jeffrey           58              25     24.130000     Urban
48          Port Johnstad           22              34     25.882941     Urban
50              Jacobfort           52              31     24.779355     Urban
7             Travisville           37              23     27.220870     Urban
46             Sandymouth           11              27     23.105926     Urban
22        New Andreamouth           42              28     24.966786     Urban
35          New Christine           22              22     24.157727     Urban
54            Stewartview           49              30     21.614000     Urban
4          Rodriguezburgh           52              23     21.332609     Urban
6        West Sydneyhaven           70              18     22.368333     Urban
28            Swansonbury           64              34     27.464706     Urban
26               Lisatown           47              23     22.225217     Urban
47              East Erin           43              28     24.478214     Urban
59        Port Martinberg           44              21     22.329524     Urban
21            Edwardsbury           11              27     26.876667     Urban
42            Pamelahaven           30              15     25.549333     Urban
29             Fosterside           69              24     23.034583     Urban
39            West Alexis           47              20     19.523000     Urban
12            Carrollfort           55              29     25.395517     Urban
23              New David           31              28     27.084286     Urban
25           Williamshire           70              31     26.990323     Urban
8             Torresshire           70              26     24.207308     Urban
27              New Aaron           60              22     26.861818     Urban
0              Kelseyland           63              28     21.806429     Urban
60         Lake Sarashire            8              22     26.610000     Urban
..                    ...          ...             ...           ...       ...
69              West Evan            4              12     27.013333  Suburban
82              Sarahview           18              15     33.862000  Suburban
93         South Jennifer            6              16     29.798750  Suburban
74             Floresberg            7              10     32.310000  Suburban
67         Williamchester           26              11     34.278182  Suburban
106           Martinmouth            5               9     30.498889  Suburban
102          Port Guytown           26              15     28.242000  Suburban
83       New Cindyborough           20              13     31.034615  Suburban
68       New Michelleberg            9              11     24.971818  Suburban
105       North Tracyfort           18              10     26.856000  Suburban
91             Tiffanyton           21              13     28.510000  Suburban
89        East Cherylfurt            9              13     31.416154  Suburban
124             Horneland            8               4     21.482500     Rural
110             Kinghaven            3               6     34.980000     Rural
111          New Johnbury            6               4     35.042500     Rural
117          South Joseph            3              12     38.983333     Rural
116          Kennethburgh            3              10     36.928000     Rural
121          East Stephen            6              10     39.053000     Rural
119           Stevensport            6               5     31.948000     Rural
125        West Kevintown            5               7     21.528571     Rural
109         East Troybury            3               7     33.244286     Rural
112              Erikport            3               8     30.043750     Rural
123        Hernandezshire           10               9     32.002222     Rural
113           Jacksonfort            6               6     32.006667     Rural
122           East Leslie            9              11     33.660909     Rural
120         North Whitney           10              10     38.146000     Rural
118         Manuelchester            7               1     49.620000     Rural
114           Shelbyhaven            9               6     34.828333     Rural
108  South Elizabethmouth            3               5     28.698000     Rural
115           Matthewside            4               4     43.532500     Rural

[125 rows x 5 columns]

In [ ]:
plt.scatter(x_axis, data, marker="o", facecolors="red", edgecolors="black",
            s=x_axis, alpha=0.75)
plt.scatter(x_axis, data, marker="o", facecolors="red", edgecolors="black",
            s=x_axis, alpha=0.75)
plt.scatter(x_axis, data, marker="o", facecolors="red", edgecolors="black",
            s=x_axis, alpha=0.75)
plt.title("Pyber Ride Sharing Data 2016")
plt.xlabel("Total Number of Rides (Per City)")
plt.ylabel("Average Fare ($)")
plt.legend()
plt.show()